.sidebar {
        position: fixed;
    left: 0px;
    top: 0px;
    width: 52px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 10px #dedada;
    padding: 0px 19px;
}

ul>li {
    list-style-type: none;
    background: #f4f4fa;
    padding: 9px 18px;
    margin: 27px 0;
    border-radius: 3px;

}

ul {
    margin: 0px;
    padding: 0px;
}